# Virtual environment
venv/
.venv/

sign_model.pth

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Dataset (VERY IMPORTANT)
MP_Data

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (later)
*.h5
*.pt
*.pth

